<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
        <clr-alert *ngIf="isAddSuccess" [clrAlertType]="'success'">
            <clr-alert-item>
                <span class="alert-text">{{ placeholderMessage }} </span>
            </clr-alert-item>
        </clr-alert>
        <div class="card">
            <div class="card-header">
                Roles
            </div>
            <div class="card-block">
                <app-add-role (isAddSuccess)="addSuccess($event)"  (addedRole)="addRole($event)"></app-add-role>
                <br>
                <br>

                <clr-datagrid [clrDgLoading]="loading">
                        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
                        <clr-dg-column [clrDgField]="'email'">description</clr-dg-column>
                        <clr-dg-column [clrDgField]="'dateCreated'">Created date</clr-dg-column>
                        <clr-dg-placeholder>{{placeholderMessage}}</clr-dg-placeholder>
                        <clr-dg-row *clrDgItems="let role of roles">
                        <clr-dg-action-overflow>
                            <button class="action-item" (click)="promptEdit(role)">Edit</button>
                            <button class="action-item" (click)="viewrole(role.id)">View</button>
                        </clr-dg-action-overflow>
                        <clr-dg-cell>{{role?.name}}</clr-dg-cell>
                        <clr-dg-cell>{{role?.description}}</clr-dg-cell>
                    
                        <clr-dg-cell>{{formatDate(role?.dateCreated)}}</clr-dg-cell>
                        </clr-dg-row>
                    
                        <clr-dg-footer>
                            <clr-dg-pagination #pagination [clrDgTotalItems]="roles?.length">
                                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Roles per page</clr-dg-page-size>
                                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                                of {{roles?.length}} Roles
                            </clr-dg-pagination>
                        </clr-dg-footer>
                    </clr-datagrid>
            </div>
        </div>
    </div>
</div>

<app-edit-role *ngIf="isEdit" [role]="selectedRole" (updatedRole)="updateRole($event)"></app-edit-role>
