<clr-modal
  [(clrModalOpen)]="opened"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
<h3 class="modal-title">Edit Authority</h3>
<div class="modal-body">
    <clr-alert *ngIf="isAlert" [clrAlertType]="'danger'">
    <clr-alert-item>
        <span class="alert-text"> {{ message }} </span>
    </clr-alert-item>
    </clr-alert>
    <br />

    <form clrForm [formGroup]="authorityForm" (ngSubmit)="editAuthority()">
    <section class="form-block">
        <div class="col-md-12">
        <clr-input-container>
            <label class="required clr-col-xs-12 clr-col-md-4">Authority</label>
            <input
            class="required clr-col-xs-12 clr-col-md-5"
            clrInput
            formControlName="authority"
            type="text"
            size="40"
            disabled = "true"
            />
            <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        </div>

        <div class="col-md-12">
        <clr-input-container>
            <label class="required clr-col-xs-12 clr-col-md-4">Description</label>
            <input
            class="required clr-col-xs-12 clr-col-md-5"
            clrInput
            formControlName="permissionDescription"
            size="40"
            />
            <clr-control-error>This field is required!</clr-control-error>
        </clr-input-container>
        </div>
    </section>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onClose(authority)">
    Cancel
    </button>
    <button
        type="submit"
        class="btn btn-primary"
        (click)="editAuthority()"
        [clrLoading]="editState"
     >
    Update
  </button>
</div>
</clr-modal>

