<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
        <clr-alert *ngIf="isAddSuccess" [clrAlertType]="'success'">
            <clr-alert-item>
                <span class="alert-text">{{ placeholderMessage }} </span>
            </clr-alert-item>
        </clr-alert>

        <clr-alert *ngIf="isAlert" [clrAlertType]="'danger'">
            <clr-alert-item>
              <span class="alert-text"> {{ placeholderMessage }} </span>
            </clr-alert-item>
          </clr-alert>
          <br />
        <div class="card">
            <div class="card-header">
                User Profile
            </div>
            <div class="card-block">
                <form clrForm [formGroup]="userInfoForm" (ngSubmit)="editUser()">
                    <section class="form-block">

                        <div class="col-md-12">
                            <clr-input-container>
                              <label class="required clr-col-xs-12 clr-col-md-4">Username</label>
                              <input
                                class="required clr-col-xs-12 clr-col-md-5"
                                clrInput
                                formControlName="username"
                                type="text"
                                size="40"
                              />
                              <clr-control-error>This field is required!</clr-control-error>
                            </clr-input-container>
                          </div>
                          
                      <div class="col-md-12">
                        <clr-input-container>
                          <label class="required clr-col-xs-12 clr-col-md-4">First Name</label>
                          <input
                            class="required clr-col-xs-12 clr-col-md-5"
                            clrInput
                            formControlName="firstName"
                            type="text"
                            size="40"
                          />
                          <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                      </div>

                      <div class="col-md-12">
                        <clr-input-container>
                          <label class="required clr-col-xs-12 clr-col-md-4">Last Name</label>
                          <input
                            class="required clr-col-xs-12 clr-col-md-5"
                            clrInput
                            formControlName="lastName"
                            type="text"
                            size="40"
                          />
                          <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                      </div>

                      <div class="col-md-12">
                        <clr-input-container>
                          <label class="required clr-col-xs-12 clr-col-md-4">Email</label>
                          <input
                            class="required clr-col-xs-12 clr-col-md-5"
                            clrInput
                            formControlName="email"
                            type="email"
                            size="40"
                          />
                          <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                      </div>

                      <div class="col-md-12">
                        <clr-input-container>
                          <label class="required clr-col-xs-12 clr-col-md-4">Phone number</label>
                          <input
                            class="required clr-col-xs-12 clr-col-md-5"
                            clrInput
                            formControlName="phoneNumber"
                            type="text"
                            size="40"
                          />
                          <clr-control-error>This field is required!</clr-control-error>
                        </clr-input-container>
                      </div>
                        <div formGroupName = "address">
                            <div class="col-md-12">
                                <clr-input-container>
                                    <label class="required clr-col-xs-12 clr-col-md-4">Home address</label>
                                    <input
                                    class="required clr-col-xs-12 clr-col-md-5"
                                    clrInput
                                    formControlName="homeAddress"
                                    type="text"
                                    size="40"
                                    />
                                    <clr-control-error>This field is required!</clr-control-error>
                                </clr-input-container>
                            </div>

                            <div class="col-md-12">
                                <clr-input-container>
                                    <label class="required clr-col-xs-12 clr-col-md-4">State</label>
                                    <input
                                    class="required clr-col-xs-12 clr-col-md-5"
                                    clrInput
                                    formControlName="state"
                                    type="text"
                                    size="40"
                                    />
                                    <clr-control-error>This field is required!</clr-control-error>
                                </clr-input-container>
                            </div>

                            <div class="col-md-12">
                                <clr-input-container>
                                    <label class="required clr-col-xs-12 clr-col-md-4">Country</label>
                                    <input
                                    class="required clr-col-xs-12 clr-col-md-5"
                                    clrInput
                                    formControlName="country"
                                    type="text"
                                    size="40"
                                    />
                                    <clr-control-error>This field is required!</clr-control-error>
                                </clr-input-container>
                            </div>

                            <div class="col-md-12">
                                <clr-input-container>
                                    <label class="required clr-col-xs-12 clr-col-md-4">City</label>
                                    <input
                                    class="required clr-col-xs-12 clr-col-md-5"
                                    clrInput
                                    formControlName="city"
                                    type="text"
                                    size="40"
                                    />
                                    <clr-control-error>This field is required!</clr-control-error>
                                </clr-input-container>
                            </div>

                            
                            <div class="col-md-12">
                                <clr-input-container>
                                    <label class="required clr-col-xs-12 clr-col-md-4">Home address</label>
                                    <input
                                    class="required clr-col-xs-12 clr-col-md-5"
                                    clrInput
                                    formControlName="postalAddress"
                                    type="text"
                                    size="40"
                                    />
                                    <clr-control-error>This field is required!</clr-control-error>
                                </clr-input-container>
                            </div>
                        </div>
                      </section>
                </form>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline">
                    Cancel
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        (click)="editUser()"
                        [clrLoading]="editState"
                     >
                    Update
                  </button>
            </div>
        </div>
    </div>
</div>